body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #FF4C68;
    color: #FFF;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.heading {
    font-family: 'Montserrat';
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.5;
}


h2 {
    font-family: "Montserrat";
    font-size: 3rem;
    font-weight: bolder;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0%;
}

/* Title Image */
/* changing CSS-stacking order for title image to go behind the features section*/
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%; /* align title image with top nav bar */
}

/* Features section font-icons */
#features {
    padding: 7% 15%;
    background-color: #FFF;
    position: relative;
}

.feature-div {
    text-align: center;
    padding: 4.5%;
}

.font-icon {
    color: #EF8172;
    margin-bottom: 1rem;
}
.font-icon:hover {
    color: #FF4C68;
}

.feature-heading {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-description {
    color: #8F8F8F;
}


/* Testimonials Section */

#testimonials {
    text-align: center;
    background-color: #EF8172;
    color: #FFF;

}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* making title section responsive on tablet size and mobile size  */
@media (max-width: 1028px) {
    
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action */
#cta {
    background-color: #FF4C68;
    padding: 2% 20%;
    text-align: center;
}
.cta-caption {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-weight: 900;
    font-size: 3rem;
    padding: 2% 0% 0% 0%;
}

/* Footer Section */
#footer {
    text-align: center;
    background-color: #FFF;
}
.foot-p {
    color: #8F8F8F;
}

.social-icons {
    padding: 2% 0.5% 2% 0.5%;
}